<template>
    <section>
        <h1>Tasks List</h1>
        <ul>
            <li v-for="(task, index) in tasks" :key="index">
                <Task :task="task" :taskId="index"></Task>
            </li>
        </ul>
    </section>
</template>

<script>
    import Task from '../components/Task.vue';
    export default {
        components: {
            Task
        },

        data: () => ({
            tasks: []
        }),

        created() {
            this.fetchTasks();
        },

        methods: {
            fetchTasks () {
                this.$http.get('b9ix6').then(
                    ({ body: { tasks: tasks } }) => {
                        this.tasks = tasks
                    },
                    error => {
                        throw(error)
                    }
                )
            }
        }
    }
</script>

<style scoped>
    ul {
        padding: 0;
        list-style: none;
    }
</style>