<template>
  <form class="task" action="">
    <label>
      Courier
      <input readonly type="text" v-model="task.courier" />
    </label>

    <label>
      Driver Name
      <input readonly type="text" v-model="task.driverName" />
    </label>

    <label>
      Status
      <template v-if="task.status === 'pending'">
        <fieldset class="task-status pending">
          <label class="radio-button completed">
            <font-awesome-icon icon="check-square" /> Mark as Completed
            <input type="radio" v-model="task.status" value="completed" />
          </label>
          <label class="radio-button failed">
            <font-awesome-icon icon="exclamation-triangle" /> Mark as Failed
            <input type="radio" v-model="task.status" value="failed" />
          </label>
        </fieldset>
      </template>
      <template v-if="task.status === 'completed'">
        <p class="task-status completed">
          <font-awesome-icon icon="check-square" /> completed
        </p>
      </template>
      <template v-if="task.status === 'failed'">
        <p class="task-status failed">
          <font-awesome-icon icon="exclamation-triangle" /> failed
        </p>
      </template>
      <template v-if="task.status === 'started'">
        <p class="task-status started">
          <font-awesome-icon icon="play-circle" /> started
        </p>
      </template>
    </label>

    <label>
      Description
      <textarea readonly cols="30" rows="5" v-model="task.description"></textarea>
    </label>

    <label>
      Start
      <input readonly type="datetime" v-model="task.startedAt" />
    </label>

    <label>
      End
      <input readonly type="datetime" v-model="task.finishedAt" />
    </label>

    <label>
      Comment
      <textarea readonly cols="30" rows="5" v-model="task.driverComment"></textarea>
    </label>

    <section class="map-view">
      <font-awesome-icon v-if="!mapView" v-on:click="mapView = true" class="toggle-map-view" icon="map-marked-alt" />
      <font-awesome-icon v-if="mapView" v-on:click="mapView = false" class="toggle-map-view" icon="times" />
      <iframe
        class="map"
        v-if="mapView"
        frameborder="0" style="border:0"
        :src="'https://www.google.com/maps/embed/v1/directions?key=<GOOGLE_API_KEY></GOOGLE_API_KEY>&origin=' + task.fromLocation + '&destination=' + task.toLocation">
      </iframe>
    </section>
  </form>
</template>

<script>
  export default {
    
    data() {
      return ({
        mapView: false
      })
    },
    
    props: {
      task: {
        type: Object
      },
      taskId: {
        type: Number
      }
    }
  }
</script>

<style scoped>
  .task {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e8eefc;
    border: 1px solid #9ebcf9;
    border-radius: 2px;
  }

  .task > label {
    font-weight: bold;
    display: grid;
    grid-template-columns: 100px auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid #d2dcf1;
  }

  .task > label:last-child {
    border: none;
  }

  input:read-only {
    border: none;
    flex-grow: 1;
    background: transparent;
  }

  label > textarea:read-only {
    resize: none;
    border: none;
    border-radius: 2px;
    background: transparent;
    flex-grow: 1;
  }

  input, textarea, p, fieldset {
    margin: 0 10px;
  }

  fieldset {
    border: none;
  }

  .task-status.completed, .radio-button.completed {
    color: #15a528;
  }

  .task-status.failed, .radio-button.failed {
    color: #f02f3f;
  }

  .task-status.started {
    color: #0e82b8;
  }

  .task-status.pending > label {
    display: inline-block;
  }

  .radio-button {
    cursor: pointer;
    border: 1px solid;
    padding: 10px 30px;
    text-align: center;
    margin: 0 10px;
    box-shadow: inset 2px 2px 0 rgb(255, 255, 255), 1px 1px 2px rgb(99, 97, 97);
  }

  .task-status.pending input {
    display: none;
  }

  .map, .map > iframe {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fdfdfd;
  }
  
  .toggle-map-view {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: rgb(25, 106, 212);
    color: rgb(231, 247, 255);
    background-repeat: no-repeat;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(15, 42, 77, 0.5);
    font-size: .5em;
    border-radius: 5px;
    padding: 10px;
    z-index: 99;
  }
</style>